* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.cal {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    color: white;
    text-align: center;

}

body {
    background: black;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.calculator {
    width: 330px;
}

.display {
    height: 130px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.display input {
    width: 100%;
    height: 100px;
    font-size: 50px;
    text-align: right;
    background: black;
    color: white;
    border: none;
    outline: none;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    padding-top: 10px;
}

button {
    height: 70px;
    border-radius: 50%;
    border: none;
    font-size: 25px;
    background: #1b1b1b;
    color: white;
    cursor: pointer;
}

button.gray {
    background: #3b3b3b;
}

button.operator {
    background: #5a5a5a;
}

button.equal {
    background: #00c853;
}